<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.raveline.redinfunusers">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true"
        android:version="15"
        tools:targetApi="n" />

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activities.TesteFireStore"></activity>
        <activity
            android:name="activities.launcher.SlideHomeLauncher"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activities.view.VisualizarComentarioActivity" />
        <activity android:name="activities.view.VisualizarFotoPostada" />
        <activity android:name="activities.view.FiltrosActivity" />
        <activity
            android:name="activities.usuario.AlterarDados"
            android:parentActivityName="activities.view.MainActivity" />
        <activity android:name="activities.usuario.CadastrarUsuario" />
        <activity android:name="activities.usuario.PerfilAcompanhante" />
        <activity android:name="activities.launcher.HomeLauncher" />
        <activity
            android:name="activities.usuario.LoginActivity"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name="activities.view.MainActivity"
            android:theme="@style/AppThemeLogin" />
    </application>

</manifest>